body {
  background-image: url("backgrounds/pizza-background-image.jpg");
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

  text-align: center;
}

section{
  padding-top: 50px;
}

.menu{
  background-color: #FDFFA9;
  border-radius: 20%;
  padding: 30px;
}


h4{
  font-family: 'Palette Mosaic', cursive;
}

img{
  height: 50.75%;
  width: 70.75%;
  border-radius: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

select{
  width: 20%;
}

.cart-table{
  padding-top: 30px;
}
